<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ============================= -->
    <!-- PACKAGE VISIBILITY -->
    <!-- ============================= -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>

        <package android:name="com.android.settings" />
    </queries>

    <!-- ============================= -->
    <!-- PERMISSIONS -->
    <!-- ============================= -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:label="Shadow"
        android:icon="@mipmap/ic_shadow"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shadow.Base"
        android:hardwareAccelerated="true">

        <!-- ============================= -->
        <!-- ENTRY ACTIVITY -->
        <!-- ============================= -->
        <activity
            android:name=".setup.EntryActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Shadow.Base">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- ============================= -->
        <!-- HOME LAUNCHER -->
        <!-- ============================= -->
        <activity
            android:name=".launcher.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Shadow.Base"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!-- ============================= -->
        <!-- DELAY OVERLAY -->
        <!-- ============================= -->
        <activity
            android:name=".delay.DelayOverlayActivity"
            android:exported="false"
            android:theme="@style/Theme.Shadow.Base"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop" />

        <!-- ============================= -->
        <!-- APP LIMIT -->
        <!-- ============================= -->
        <activity
            android:name=".launcher.apps.AppLimitActivity"
            android:exported="false"
            android:theme="@style/Theme.Shadow.Base" />
        <activity
            android:name=".setup.permissions.PermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.Shadow.Base" />
        <activity
            android:name=".setup.SetupActivity"
            android:exported="false"
            android:theme="@style/Theme.Shadow.Base" />

        <!-- ============================= -->
        <!-- SETTINGS -->
        <!-- ============================= -->
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Shadow.Base" />

        <!-- ============================= -->
        <!-- SERVICES -->
        <!-- ============================= -->
        <service
            android:name=".tracking.UsageMonitorService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
